.form-book {
  margin-top: 20px;
}
.form-book h3 {
  color: dodgerblue;
  margin-bottom: 30px;
}
.btn-primary {
  color: #fff;
  background-color: #5fd363;
  border: 1px solid #5fd363;
}
.btn-primary:hover {
  background-color: #3aae3e;
}
.d-inline-block {
  margin-right: 10px;
  border-radius: 50%;
  transition: transform 0.2s;
}
.book-listing {
  margin: 20px 0 0 0;
  border-top: 2px solid #212529;
}